#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  margin: 0;
}

.App{
  min-height:100vh ;
  min-height: 100vh;
}

#containerMain{
  min-height: 100vh;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  min-height: fit-content;
}

#containerCadastros{
  display: grid;
  width: 100%;
  height: fit-content;
  background-color: lightgray;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  padding: 15px;
  height: 20vh;
  justify-content: space-around;
  border-radius: 6px;
}

input{
  width: 70%;
  padding: 6px;
  border-radius: 6px;
  border: none;
  margin: 6px;
  font-size: large;
}

input:focus{
  outline: none;
}

#containerCadastros select{
  padding: 4px;
  width: 30%;
  border-radius: 6px;
  font-size: large;
  align-self: start;
  margin-left: 13%;
}

button{
  margin-top: 10px;
  padding: 6px;
  border-radius: 6px;
  border: none;
  font-size: large;
}

#selects{
  display: flex;
  flex-direction: column;
}

#tituloAgendamento{
  align-self: start;
  float:left ;

}

.agendamento{
display: grid;
grid-template-columns: 0.5fr 0.5fr;
align-items: center;
background-color: gray;
}

#agendamento select{
  padding: 4px;
  width: 70%;
  border-radius: 6px;
  font-size: large;
  align-self: start;
}

h2{
  align-self: start;
}

.data{
  width: 80%;
}

#btnAgendar{
  width: 20%;
  margin: 10px;

}

#containerDatas{
  display: flex;
  flex-direction: column  ;
  align-self: flex-start;
  align-items: flex-start;
}

#itensAgendar{
  display: flex;
  flex-direction: column;
  margin: none;
  left: 0;
}

.dateInput{
  display: flex;
  flex-direction: column;
}

table{
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 15px;
}

tr{
  border: 1px solid black;
}

td{
  border: 1px solid black;
  padding: 6px;
  font-size: 1.3em;
  /* border-radius: 6px; */
}

th{
  font-size: 1.6em;
  padding: 6px;
  border: 1px solid black;
}

#legenda{
  background-color: lightblue;
}

.exibir{
  display: flex;
  flex-direction: column;
  align-self: center;
}