#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  margin: 0;
  background-color: #DCEBFB;
}

.App{
  min-height:100vh ;
  min-height: 100vh;
}

#containarMain{
  display: flex;
  flex-direction: column;
}

#cadastrosMain{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 3%;
}

header{
  width: 100%;
  height: 10vh;
  background-color: #111031;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.titulos{
  display: flex;
  justify-content: center;
}

.cadastros{
  display: flex;
  flex-direction: column;
  background-color: #1F3966;
  height: 25vh;
  padding: 5%;
  justify-content: space-around;
  margin: 10%;
  border-radius: 6px;
}

.buttonsCadastro{
  width: 55%;
  align-self: center;
  margin-top: 5%;
}

input{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  font-size: medium;
  color: #DCEBFB;
}

input:focus{
  outline: none;
}

::placeholder{
  color: rgb(207, 207, 207);
}

select{
  width: fit-content;
}

#containerCadastros select{
  padding: 4px;
  width: 30%;
  border-radius: 6px;
  font-size: large;
  align-self: start;
  margin-left: 13%;
}

button{
  padding: 6px;
  border-radius: 6px;
  border: none;
  font-size: large;
  background-color: #90B9FA;
  color: #ffffff;
}


#selects{
  display: flex;
  flex-direction: column;
}

#tituloAgendamento{
  align-self: start;
  float:left ;
  

}

#agendamentosMain{
  background-color: #1F3966;
  display: grid;
  grid-template-rows: 3fr 0.5fr;
  grid-template-columns: auto;
  width: 80%;
  align-self: center;
  padding: 10px;
  align-items: center;
  border-radius: 6px;
}

#divDatas{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dadosAgendamento{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.containerAgentamentos{
display: flex;
flex-direction: column;
align-items: center;
}

#btnContainer{
  display: flex;
  align-items: center;
  float: inline-end;
}

select{
  padding: 4px;
  font-size: medium;
  border-radius: 6px;
  border: none;
  background-color: #5787e0;
  color: #DCEBFB;

}

select:focus{
  outline: transparent;
}


h2{
  align-self: start;
}

.data{
  background-color: #5787e0;
  border-radius: 6px;
  border: none;
  font-size: medium;
  width: 30%;
  padding: 6px;
}

.titleForms{
   color: #DCEBFB;
}



#btnAgendar{
  width: 20%;
  margin: 10px;

}

#containerDatas{
  display: flex;
  flex-direction: column  ;
  align-self: flex-start;
  align-items: flex-start;
  width: fit-content;
}

#itensAgendar{
  display: flex;
  flex-direction: column;
  margin: none;
  left: 0;
}

.dateInput{
  display: flex;
  flex-direction: column;
}

table{
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 15px;
  align-self: center;
  width: 60%;
  border-radius: 6px;
}


td{
  border-radius: 6px;

  /* border: 1px solid black; */
  padding: 6px;
  font-size: 1.3em;
  /* border-radius: 6px; */
}


tr{
border: 1px solid black;
}
th{
  /* border-radius: 6px; */
  font-size: 1.6em;
  padding: 6px;
  color: #DCEBFB;
  border: 1px solid black;
}

#legenda{
  background-color: #1F3966;
}

.exibir{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.titles{
  display: flex;
  align-items: center;
  justify-content: center;
}